@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #eaeaea;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #2d2d2d;
}


.nav-item-login {
  font-weight: 500;
  font-size: 24px;
}

.form-control {
  width: 550px;
}

.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    z-index: 1;
    border-radius: 5px;
    right: 0; /* Membuat dropdown muncul di sebelah kanan */
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #6fa3ff;
    border-radius: 5px;
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color: rgb(175, 85, 183);
  }

